@font-face {
    font-family: Roboto;
    src: url("/public/fonts/Roboto.ttf");
}

@font-face {
    font-family: Forum;
    src: url("/public/fonts/Forum-Regular.ttf");
}

:root {
    --btn-background: #710707;
    --btn-hover-background: #D2B183;
    --text-background: #9D8665;
}

body
{
    color: #fff;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}
.no-scroll
{
    overflow: visible;
}
.menu-pics
{
    display: none;
}

.bottom-line{
    display: none;
}
.main-header{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 2% 10%;*/
    padding: 40px 155px;
    flex-direction: row;
}

.logo{
    display: flex;
}

.logo img{
    width: 42px;
    height: 20px;
    margin-right: 20px;
}

.logo-name{
    font-size:22px;
    font-family: Forum;
    letter-spacing: 5px;
}

.main-nav{
    /*position: fixed;*/
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: auto;
    /*top: 60px;*/
    overflow: visible;
    padding: 40px;
    box-sizing: border-box;
}

.nav-container>ul{
    /*list-style:none;*/
    /*display:flex;*/
    /*opacity:60%;*/
    /*font-size: 16px;*/
    /*letter-spacing: 2px;*/
    /*font-weight: 200;*/
    /*gap: 40px;*/
    padding-left: 755px;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.main-nav ul li {
    margin: 0;
    list-style-type: none;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    opacity: 60%;
    letter-spacing: 2px;
    font-weight: 200;
    display: flex;
}

/*.main-nav ul li a{*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    font-family: Roboto;*/
/*    list-style: none;*/
/*}*/

.welcome-page
{
    display: flex;
    align-items: flex-start;
    /*padding-top: 1%;*/
    padding-top: 6px;
    background-color: black;
    height: 100vh;
    width: 100vh;
}

.welcome-information{
    position: absolute;
    text-align: left;
    /*padding-top: 4%;*/
    padding-top: 100px;
    padding-left: 160px;
    min-width: 700px;
    box-sizing: border-box;
    z-index: 2;
}

.burger-icon {
    display: none;
    cursor: pointer;
    z-index: 100;
}
.welcome-information h1 {
    font-weight: 400;
    font-size: 60px;
    font-family: Forum;
    letter-spacing: 5px;
    margin-bottom: 30px;

}
.mobile-br {
    display:none;
}

.welcome-information h2 {
    font-weight: 300;
    font-family: Roboto;
    letter-spacing: 2px;
    line-height: 10px;
    font-size: 24px;
    margin-top: 10px;
}
.discover-btn {
    border: none;
    border-radius: 10px;
    background-color: var(--btn-background);
    color: #fff;
    width: 320px;
    height: 56px;
    margin-top: 45px;
    font-size: 16px;
    font-family: Roboto;
    letter-spacing: 2px;
    font-weight: 300;
}
.pic-scroll {
    z-index: 1;
    /*padding-left: 40.5%;*/
    padding-left: 618px;
    position: absolute;
    box-sizing: border-box;
}

.swiper-container {
    position: absolute;
    right: 145px;
    width: 50%;
    height: 77vh;
    z-index: 1;
}

.card-img {
    height: 77vh;
    width: auto;
}

.swiper-controls {
    background-color: black;
    height: 60px;
    width: 500px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: flex-start;
    z-index: 2;
}

.swiper-navigation {
    display: flex;
    justify-content:start;
    gap: 1px;
    margin-right: 40px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative;
    cursor: pointer;
}

.swiper-button-prev {
    margin-left: 340px;
}

.swiper-button-next {
    margin-right: 55px;
}


.swiper-pagination{
    margin-top: 18px;
    margin-left: 55px;
}

.swiper-carousel{
    display: flex;
    position: absolute;
    gap: 20px;
    left:155px;
    margin-top: 24px;
}

.swiper-carousel-dot{
    background-color: white;
    width: 10px;
    height: 10px;
}

.swiper-carousel-dot.active{
    background-color: var(--btn-hover-background);
    transform: scale(1.1);
}

.social
{
    display: none;
}

.main-nav.show {
    display: block;
}

.nav-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*вторая страница*/

.virtual-tour
{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.title{
    font-weight: 400;
    font-size: 60px;
    font-family: Forum;
    letter-spacing: 5px;
    padding-left: 160px;
    padding-top: 50px;
    color: var(--text-background);
}

.line{
    border-bottom: 3px solid var(--btn-background);
    margin-left: 160px;
    margin-top: 130px;
    width: 1220px;
    display: flex;
    position: absolute;
    overflow: hidden;
}

.variants{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 170px;
    margin-left: 160px;
    width: 1220px;
    height: auto;
}

.variant img{
    width: 380px;
    height: auto;
    display: block;
}

.top-row{
    display: flex;
    justify-content: space-between;
}

.bottom-row{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}


.variant{
    display: flex;
    flex-direction: column;
}


.variant-text {
    padding: 15px 0;
    color: black;
}

.main-text {
    font-family: Forum;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.vr {
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.description{
    font-family: Roboto;
    font-weight: 200;
    font-size: 18px;
   padding-top: 7px;
    margin: 0;
}

.variant-line{
    border-bottom: 3px solid var(--btn-background);
    width: 300px;
    margin-top: 2px;
    display: flex;
    position: absolute;
}

 /*3 страница*/

.picture-explore
{
    background-color: black;
    height: 135vh;
    width: 100%;
}

.title-pic-ex{
    font-weight: 400;
    font-size: 60px;
    font-family: Forum;
    letter-spacing: 5px;
    padding-left: 160px;
    padding-top: 50px;
    color: white;
}

.pic-ex-line{
    border-bottom: 3px solid var(--btn-background);
    width: 200px;
    display: flex;
    position: absolute;
}

.text-pic-ex{
    width: 660px;
    color: white;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 300;
    padding-left: 160px;
    gap: 10px;
}



@media (min-width: 992px) and (max-width:1024px){
    .main-header {
        padding: 20px 62px;
        flex-direction: row;
        width: 100%;

    }
    .no-scroll
    {
        overflow: hidden;
    }
    .logo {
        margin-right: 15px;
        z-index: 100;
    }

    .logo img {
        width: 40px;
        height: 22px;
    }

    .logo-name {
        font-size: 25px;
        letter-spacing: 3px;
    }

    .burger-menu{
        cursor: pointer;
        display: inline-block;
        padding: 40px;
    }

    .burger-icon{
        height: 20px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-icon span{
        background-color: white;
        height: 2px;
        width: 100%;
        transition: all 0.2s ease;
    }

    .burger-icon.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .burger-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-icon.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav-container{
        background-color: black;
        height: 100vh;
        width: 300px;
    }


    .nav-container>ul{
      flex-direction: column;
        gap: 5px;
        margin-left: 20px;
        padding: 0;
    }

    .main-nav {
        display: none;
        margin-left: 0px;
        top: 100px;
    }

    .main-nav ul li a::after {
        content: ">";
        position: absolute;
        left: 190px;
        color: white;
        font-size: 24px;
    }

    .show {
        display: flex;
    }

    .menu-pics {
        display: none;
    }

    .main-nav ul li a{
        margin: 15px 0;
        list-style: none;
        font-size: 24px;
    }

    .welcome-page {
        height: 100vh;
        width: 100%;
        padding-top: 5px;
        flex-direction: column;
    }

    .welcome-information {
        position: relative;
        padding: 106px 62px;
        min-width: auto;
        width: 100%;
        text-align: left;
    }


    .welcome-information h1 {
        font-size: 48px;
        margin-bottom: 2px;
        line-height: 80px;
    }

    .welcome-information h2 {
        font-size: 20px;
        line-height: normal;
        margin-top: 20px;
    }

    .discover-btn {
        width: 100%;
        max-width: 240px;
        height: 48px;
        margin-top: 20px;
        font-size: 14px;
    }

    .pic-scroll {
        position: relative;
        padding-left: 0;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .swiper-container {
        width: 70%;
        height: auto;
        top: 185px;
        left: 335px;
        z-index: 1;
    }

    .card-img {
        width: auto;
        height: 69vh;
    }

    .swiper-controls {
        width:622px;
    }

    .swiper-button-prev {
        margin-left: 420px;
    }

    .swiper-button-next {
        margin-right: 95px;
    }

    .swiper-pagination{
        margin-left: 115px;
    }

    .swiper-carousel{
        left:225px;
    }

    .social
    {
        display: none;
    }

    /*вторая страница*/

    .no-scroll{
        overflow-x: hidden;
    }

    .virtual-tour
    {
        height: 175vh;
        width: 113%;
        margin: 0 auto;
    }

    .title{
        font-size: 40px;
        padding-left: 62px;
    }

    .line{
        margin-left: 62px;
        width: 985px;
        margin-top: 105px;
    }
    .variants{
        flex-direction: row;
        margin-left: 130px;
    }
    .top-row{
        flex-direction: column;
    }

    .bottom-row{
        flex-direction: column;
        padding-top: 0px;
    }

    .variants{
       gap: 80px;
    }
}

@media (min-width: 768px) and (max-width:991px){
    .main-header {
        padding: 20px 15px;
        flex-direction: row;

    }

    .logo {
        margin-right: 15px;
        z-index: 100;
    }

    .logo img {
        width: 35px;
        height: 18px;
    }

    .logo-name {
        font-size: 20px;
        letter-spacing: 3px;
    }

    .burger-menu{
        cursor: pointer;
        display: inline-block;
        padding: 10px;
    }

    .burger-icon{
        height: 20px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-icon span{
        background-color: white;
        height: 2px;
        width: 100%;
        transition: all 0.2s ease;
    }
    .burger-icon.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .burger-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-icon.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }


    .nav-container ul {
        flex-direction: column;
        gap: 1px;
        margin-left: 45px;
        padding: 0;
    }

    .main-nav {
        display: none;
        margin-left: 0px;
        top: 90px;
    }

    .nav-container{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-nav ul li a::after {
        content: ">";
        position: absolute;
        left: 162px;
        color: white;
        font-size: 24px;
    }


    .show {
        display: flex;
        position: absolute;
        background: black;
        overflow: visible;
        padding: 0;
    }

    .menu-pics {
        display: flex;
        padding: 0 40px;
        flex-direction: column;
        gap: 15px;
    }

    .top-pic {
        width: 100%;
        height: 66.66%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /*.bottom-line {*/
    /*    border-bottom: 1px solid white;*/
    /*    margin-left: 40px;*/
    /*    margin-top: 735px;*/
    /*    width: 655px;*/
    /*    z-index: 99;*/
    /*    position: fixed;*/
    /*}*/

    .bottom-pics {
        display: flex;
        height: 33.33%;
        gap: 15px;
    }

    .bottom-pic {
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .main-nav ul li {
        margin: 15px 0;
    }

    .main-nav ul li a{
       font-size: 22px;
    }
    .welcome-page {
        height: 100vh;
        width: 100%;
        padding-top: 5px;
        flex-direction: column;
    }

    .welcome-information {
        position: relative;
        padding: 8px 102px;
        min-width: auto;
        width: 100%;
        text-align: center;
    }
    .discover-btn{
        display: none;
    }

    .welcome-information h1 {
        font-size: 36px;
        margin-bottom: 5px;
    }

    .welcome-information h2 {
        font-size: 20px;
        line-height: normal;
        margin-top: 30px;
    }

    .discover-btn {
        width: 100%;
        max-width: 240px;
        height: 48px;
        margin-top: 20px;
        font-size: 14px;
    }

    .pic-scroll {
        position: relative;
        padding-left: 0;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .swiper-container {
        width: 80%;
        top: 265px;
        left: 75px;
        z-index: 1;
    }

    .card-img {
        width: auto;
        height: 63vh;
    }

    .swiper-controls {
        width:622px;
    }

    .swiper-button-prev {
        margin-left: 420px;
    }

    .swiper-button-next {
        margin-right: 95px;
    }

    .swiper-pagination{
        margin-left: 115px;
    }

    .swiper-carousel{
        left:225px;
    }

    .social{
        padding-top: 55px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .no-scroll{
        overflow: visible;
    }

    .bottom-line{
        display: flex;
        margin-left: 38px;
        margin-top: 760px;
        width: 687px;
        z-index: 99;
        position: absolute;
        overflow: hidden;
    }


    /*вторая страница*/

    .no-scroll{
        overflow-x: hidden;
    }

    .virtual-tour
    {
        height: 175vh;
        width: 113%;
        margin: 0 auto;
    }

    .variant img{
        width: 320px;
    }

    .title{
        font-size: 35px;
        padding-left: 62px;
    }

    .line{
        margin-left: 62px;
        width: 660px;
        margin-top: 105px;
    }
    .variants{
        flex-direction: row;
        margin-left: 62px;
        margin-top: 150px;
    }

    .main-text {
        font-size: 23px;
    }

    .top-row{
        flex-direction: column;
    }

    .bottom-row{
        flex-direction: column;
        padding-top: 0px;
    }

    .variants{
        gap: 20px;
    }

    .variant-line{
        width: 220px;
    }

    .vr {
        font-size: 20px;
    }

    .description{
        font-size: 16px;
    }
}


@media (min-width: 420px) and (max-width:767px) {
    .main-header {
        padding: 45px 20px;
        flex-direction: row;
    }

    .no-scroll
    {
        overflow: hidden;
    }

    .logo {
        margin-right: 15px;
    }

    .logo img {
        width: 38px;
        height: 21px;
    }

    .logo-name {
        font-size: 23px;
        letter-spacing: 3px;
    }

    .burger-menu {
        margin-left: 175px;
        display: flex;
        align-items: center;
    }

    .burger-icon {
        height: 20px;
        width: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-icon span {
        background-color: white;
        height: 2px;
        width: 100%;
        transition: all 0.2s ease;
    }

    .burger-icon.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .burger-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-icon.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav-container{
        background-color: black;
        height: 100vh;
        width: 100vh;
        display: flex;
        margin-left: 0px;
    }

    .nav-container>ul{
        flex-direction: column;
        gap: 1px;
        margin-left: 35px;
        padding: 0;
    }

    .main-nav {
        display: none;
        top: 80px;
        overflow: hidden;
    }

    .main-nav>ul li a{
        list-style: none;
    }

    .main-nav ul li a::after {
        content: ">";
        position: absolute;
        left: 185px;
        color: white;
        font-size: 22px;
    }

    .show {
        display: flex;
    }

    .menu-pics {
        display: flex;
        position: fixed;
        padding: 370px 0 14px 14px;
        flex-direction: row;
        z-index: 99;
        gap: 15px;
    }

    .top-pic {
        width: 95px;
        height: 95px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    .bottom-pics {
        display: flex;
        height: 33.33%;
        gap: 15px;
    }

    .bottom-pic {
        width: 95px;
        height: 95px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .main-nav ul li {
        margin: 25px -22px;
        margin-top: 5px;
    }

    .welcome-page {
        height: 100vh;
        width: 100%;
        padding-top: 5px;
        flex-direction: column;
    }

    .welcome-information {
        position: relative;
        padding: 8px 102px;
        min-width: auto;
        width: 100%;
        text-align: center;
    }

    .discover-btn {
        display: none;
    }

    .welcome-information h1 {
        font-size: 28px;
        max-width: 250px;
        height: 80px;
        margin-bottom: 3px;
    }

    br {
        display: none;
    }


    .welcome-information h2 {
        font-size: 14px;
        line-height: normal;
        margin-top: 4px;
        margin-left: -33px;
        width: 276px;
        height: 19px;
    }

    .discover-btn {
        width: 100%;
        max-width: 240px;
        height: 48px;
        margin-top: 20px;
        font-size: 14px;

    }

    .pic-scroll {
        position: relative;
        padding-left: 0;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .swiper-container {
        width: 80%;
        height: auto;
        top: 265px;
        left: 45px;
        z-index: 1;
    }

    .card-img {
        width: auto;
        height: 59vh;
    }

    .swiper-controls {
        width: 422px;
    }

    .swiper-button-prev {
        margin-left: 315px;
    }

    .swiper-button-next {
        margin-right: 5px;
    }

    .swiper-pagination {
        margin-left: 95px;
    }

    .swiper-carousel {
        left: 165px;
    }

    .bottom-line {
        display: flex;
        border-bottom: 1px solid white;
        margin-left: 14px;
        margin-top: 490px;
        width: 318px;
        z-index: 99;
        position: fixed;
    }


    .social
    {
        display: flex;
        position: fixed;
        margin-top: 520px;
        margin-left: 30px;
        gap: 10px;
    }

    /*вторая страница*/

    .virtual-tour
    {
        height: 270vh;
        width: 113%;
        margin: 0 auto;
    }

    .title{
        font-size: 28px;
        padding-left: 15px;
    }

    .line{
        margin-left: 15px;
        width: 385px;
        margin-top: 90px;
    }
    .variants{
        flex-direction: column;
        margin-left: 60px;
    }

    .variant img{
        width: 300px;
    }

    .top-row{
        flex-direction: column;
    }

    .bottom-row{
        flex-direction: column;
        padding-top: 0px;
    }

    .variants{
        gap:10px;
        margin-top: 130px;
    }

    .main-text {
        font-size: 18px;
    }

    .vr {
        font-size: 16px;
    }

    .description{
        font-size: 14px;
    }

    .variant-line{
        width: 170px;
    }
}








