@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto.ttf');
}

@font-face {
  font-family: Forum;
  src: url('fonts/Forum-Regular.ttf');
  font-weight: 400;
}

:root {
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font-gold-hover: #d2b183;
}